contextlib2==21.6.0
exceptiongroup==1.1.1
execnet==1.9.0
iniconfig==2.0.0
mock==5.0.2
numpy==1.24.3
packaging==23.1
path==16.6.0
path.py==12.5.0
pluggy==1.0.0
pytest==7.3.1
pytest-shutil==1.7.0
six==1.16.0
termcolor==2.3.0
tomli==2.0.1
